:root{
  --theme-1: rgba( 0, 155, 200, 1.0);
  --theme-2: rgba( 0, 255, 155, 1.0);
  --theme-3: linear-gradient(to right, rgba( 0, 155, 200, 1.0), rgba( 0, 255, 155, 1.0));
  --theme-2-dark: #303f9f;
  --theme-1-dark: #555;
}

.v-center{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
